<div id="<%= dom_id job_application %>">
  <p>
    <strong>Company:</strong>
    <%= job_application.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= job_application.position %>
  </p>

</div>
