<div id="<%= dom_id chat %>">
  <div>
    <strong>Model:</strong>
    <%= chat.model_association.name %>
  </div>

  <div>
    <strong>Messages:</strong>
    <%= chat.messages_association.count %>
  </div>

  <div>
    <strong>Created:</strong>
    <%= chat.created_at.strftime("%B %d, %Y at %I:%M %p") %>
  </div>
</div>