<div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Choose the plan that's right for you</p>
            </div>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(228px,1fr))] gap-2.5 px-4 py-3 @3xl:grid-cols-4">
              <div class="flex flex-1 flex-col gap-4 rounded-lg border border-solid border-[#304d69] bg-[#182634] p-6">
                <div class="flex flex-col gap-1">
                  <h1 class="text-white text-base font-bold leading-tight">Free</h1>
                  <p class="flex items-baseline gap-1 text-white">
                    <span class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">$0</span>
                    <span class="text-white text-base font-bold leading-tight">/month</span>
                  </p>
                </div>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#223649] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Choose Plan</span>
                </button>
                <div class="flex flex-col gap-2">
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Basic job tracking
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Limited applications
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Community support
                  </div>
                </div>
              </div>
              <div class="flex flex-1 flex-col gap-4 rounded-lg border border-solid border-[#304d69] bg-[#182634] p-6">
                <div class="flex flex-col gap-1">
                  <div class="flex items-center justify-between">
                    <h1 class="text-white text-base font-bold leading-tight">Premium</h1>
                    <p class="text-white text-xs font-medium leading-normal tracking-[0.015em] rounded-lg bg-[#0b80f4] px-3 py-[3px] text-center">Most Popular</p>
                  </div>
                  <p class="flex items-baseline gap-1 text-white">
                    <span class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">$19</span>
                    <span class="text-white text-base font-bold leading-tight">/month</span>
                  </p>
                </div>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#223649] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Choose Plan</span>
                </button>
                <div class="flex flex-col gap-2">
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Advanced job tracking
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Unlimited applications
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Priority support
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Resume review
                  </div>
                </div>
              </div>
              <div class="flex flex-1 flex-col gap-4 rounded-lg border border-solid border-[#304d69] bg-[#182634] p-6">
                <div class="flex flex-col gap-1">
                  <h1 class="text-white text-base font-bold leading-tight">Pro</h1>
                  <p class="flex items-baseline gap-1 text-white">
                    <span class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">$49</span>
                    <span class="text-white text-base font-bold leading-tight">/month</span>
                  </p>
                </div>
                <button
                  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#223649] text-white text-sm font-bold leading-normal tracking-[0.015em]"
                >
                  <span class="truncate">Choose Plan</span>
                </button>
                <div class="flex flex-col gap-2">
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    All Premium features
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Dedicated account manager
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Personalized job recommendations
                  </div>
                  <div class="text-[13px] font-normal leading-normal flex gap-3 text-white">
                    <div class="text-white" data-icon="Check" data-size="20px" data-weight="regular">
                      <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,77.66l-128,128a8,8,0,0,1-11.32,0l-56-56a8,8,0,0,1,11.32-11.32L96,188.69,218.34,66.34a8,8,0,0,1,11.32,11.32Z"></path>
                      </svg>
                    </div>
                    Interview coaching
                  </div>
                </div>
              </div>
            </div>
            <p class="text-[#8fadcc] text-sm font-normal leading-normal pb-3 pt-1 px-4 text-center">Prices may vary depending on your location and currency.</p>
          </div>
        </div>